<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{.ServiceName}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
{{template "header.go.html" .}}
<main>
    <div>Logged in as: {{.Auth.UserInfo.name}} ({{.Auth.Subject}})</div>
    <div>
        <form method="GET" action="/manage/apps">
            <button type="submit">Manage Applications</button>
        </form>
    </div>
    {{if .IsAdmin}}
        <div>
            <form method="GET" action="/manage/users">
                <button type="submit">Manage Users</button>
            </form>
        </div>
    {{end}}
    <div>
        <form method="POST" action="/logout">
            <input type="hidden" name="nonce" value="{{.Nonce}}">
            <button type="submit">Log Out</button>
        </form>
    </div>
</main>
</body>
</html>
