<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{.ServiceName}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/assets/style.css">
    <script>
        window.addEventListener("load", function () {
            selectText("app-secret");
        });

        // Thanks again: https://stackoverflow.com/a/987376
        function selectText(nodeId) {
            const node = document.getElementById(nodeId);

            if (document.body.createTextRange) {
                const range = document.body.createTextRange();
                range.moveToElementText(node);
                range.select();
            } else if (window.getSelection) {
                const selection = window.getSelection();
                const range = document.createRange();
                range.selectNodeContents(node);
                selection.removeAllRanges();
                selection.addRange(range);
            } else {
                console.warn("Could not select text in node: Unsupported browser.");
            }
        }
    </script>
</head>
<body>
{{template "header.go.html" .}}
<main>
    <form method="GET" action="/">
        <button type="submit">Home</button>
    </form>

    <h2>Edit Client Application</h2>
    <form method="POST" action="/manage/apps">
        <input type="hidden" name="action" value="edit"/>
        <input type="hidden" name="offset" value="{{.Offset}}"/>
        <input type="hidden" name="subject" value="{{.EditApp.Subject}}"/>
        <div>
            <label>ID: {{.EditApp.Subject}}</label>
        </div>
        <div>
            <label for="field_name">Name:</label>
            <input type="text" name="name" id="field_name" value="{{.EditApp.Name}}" required/>
        </div>
        <div>
            <label for="field_domain">Domain:</label>
            <input type="text" name="domain" id="field_domain" value="{{.EditApp.Domain}}" required/>
        </div>
        {{if .IsAdmin}}
            <div>
                <label for="field_perms">Perms:</label>
                <input type="text" name="perms" id="field_perms" value="{{.EditApp.Perms}}" size="100"/>
            </div>
        {{end}}
        <div>
            <label for="field_public">Public: <input type="checkbox" name="public" id="field_public" {{if .EditApp.Public}}checked{{end}}/></label>
        </div>
        {{if .IsAdmin}}
            <div>
                <label for="field_sso">SSO: <input type="checkbox" name="sso" id="field_sso" {{if .EditApp.Sso}}checked{{end}}/></label>
            </div>
        {{end}}
        <div>
            <label for="field_active">Active: <input type="checkbox" name="active" id="field_active" {{if .EditApp.Active}}checked{{end}}/></label>
        </div>
        <button type="submit">Edit</button>
    </form>
    <form method="GET" action="/manage/apps">
        <input type="hidden" name="offset" value="{{.Offset}}"/>
        <button type="submit">Cancel</button>
    </form>
</main>
</body>
</html>
