<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{.ServiceName}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
{{template "header.go.html" .}}
<main>
    <form method="POST" action="/authorize">
        <div>The application {{.AppName}} wants to access your account ({{.DisplayName}}). It requests the following permissions:</div>
        <div>
            <ul>
                {{range .WantsList}}
                    <li>{{.}}</li>
                {{end}}
            </ul>
        </div>
        <div>
            <input type="hidden" name="response_type" value="{{.ResponseType}}"/>
            <input type="hidden" name="response_mode" value="{{.ResponseMode}}">
            <input type="hidden" name="client_id" value="{{.ClientID}}"/>
            <input type="hidden" name="redirect_uri" value="{{.RedirectUri}}"/>
            <input type="hidden" name="state" value="{{.State}}"/>
            <input type="hidden" name="scope" value="{{.Scope}}"/>
            <input type="hidden" name="nonce" value="{{.Nonce}}"/>
            <button class="oauth-action-authorize" name="oauth_action" value="authorize">Authorize</button>
            <button class="oauth-action-cancel" name="oauth_action" value="cancel">Cancel</button>
        </div>
        <div>Authorizing this action will redirect you to {{.AppDomain}} with access to the permissions requested above.</div>
    </form>
</main>
</body>
</html>
